@import "reset";
@import "variables";

html {
  font-size: 100%;
  font-family: $primary;
}

// main body contents
body {
  background: $white;
  font: 18px/1.4 $primary;
  color: $darkGray;
}

// body wrapper, defines grid
.wrapper {
  background: $offWhite;
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 0 10px 25px;
  width: 100%;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header-name header-nav"
    "content content";
  @include mobile {
    grid-template-columns: auto;
    grid-template-rows: 30px 20px auto;
    grid-template-areas:
      "header-name"
      "header-nav"
      "content"
  }
}

// header in top left
.header-name {
  margin: 0;
  grid-area: header-name;

  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-style: oblique;
  justify-self: left;
  align-self: end;
  color: $darkGray;
}

.content {
  grid-area: content;
  border-top: 2px solid $lightGray;
}

// this prevents elements from pushing out the width
// of grid elements
.content, .instructions {
  max-width: 100%;
  min-width: 0;
}

.wrapper-recipe {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "ingredients instructions";
  column-gap: 30px;
  @include mobile {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "ingredients"
      "instructions";
  }
}

.instructions {
  grid-area: instructions;
}

.ingredients {
  grid-area: ingredients;
  line-height: 15px;
  font-size: 15px;
  justify-self: right;
  text-align: right;
  @include mobile {
    justify-self: left;
    text-align: left;
  }
}


.fade {
  font-size: 16px;
  color: $gray;
}

.source-url {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  a {
    color: $light_color;
    font-size: 13px;
    font-family: $mono;
    background: $darkoffWhite;
  }
}


// nav in top right
nav {
  font-size: 18px;
  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    // colour links on mobile
    @include mobile {
      margin: 0 10px;
      color: $main_color;
    }
  }
}

.header-nav {
  justify-self: right;
  align-self: end;
  grid-area: header-nav;
}

// center headers when on mobile
.header-name, .header-nav {
  @include mobile {
    justify-self: center;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-size: 90%;
  thead tr th {
    background-color: $darkoffWhite;
  }
  tbody tr {

    th {
      font-weight: bold;
    }

    td {
      word-wrap: normal;
      max-width: 90%;
    }
  }

  th, td {
    text-align: left;
    padding: 4px 8px;
    border-bottom: 1px solid $lightGray;
  }
}



blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid $gray;
  padding: 0 1rem;
  font-style: italic;
  p {
    margin: 2px 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;

  line-height: 1.0;
  margin: 0.7em 0 12px;
  padding: 0;

  @include mobile {
    line-height: 1.1;
  }
  a {
    &:hover {
      text-decoration: underline
    }
  }
}

h1 {
  font-size: 26px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 10px 0;
}

a {
  color: $main_color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $main_color;
  }
}

.active {
  color: $main_color;
}

span.de-emph {
  color: $gray;
  font-style: italic;
}


ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: circle;
}

.cat-list {
  line-height: 1.2;
  margin: 4px 0;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::selection {
  background: $lightGray;
}
