<!DOCTYPE html>
{% if not current_path %}
{% set title = "404 - page not found" %}
{% elif page %}
{% set title = page.title %}
{% elif section %}
{% set title = section.title %}
{% else %}
{% set arr = current_path | split(pat="/") %}
{% set title = arr.1 %}
{% endif %}
<html lang="en">
  <head>
    <title>{{ title }} – {{ config.extra.site_name }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ config.extra.description }}" />
    <meta name="author" content="{{ config.extra.author }}" />
    <meta property="og:title" content="{{ title }} – {{ config.extra.site_name }}" />
    <meta property="og:description" content="{{ config.extra.description }}" />

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <div class="wrapper">
      <header class="header-name">
        <a href="/">{{ config.extra.site_name }}</a>
      </header>

      <nav class="header-nav">
        {% set links = load_data(path="data/links.json") %}
        {%- for obj in links.nav -%}
        {%- if not current_path %}{% set active = false %}
        {%- elif current_path is starting_with(obj.url) %}{% set active = true %}
        {%- else %}{% set active = false %}{% endif %}
        <a {% if active %}class='active' {% endif %}href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a>
        {%- endfor %}
      </nav>

      <article class="content">
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}
      </article>
    </div>
  </body>
</html>
